.main-content {
    width: 100%;
}
.main-content .left-main {
    width: 500px;
    height: 500px;
    /* background: red; */
    border: 1px solid white;
    margin-left: 20px;
    display: inline-block;
}
.main-content .right-main {
    display: inline-block;
    position: absolute;
    margin-left: 40px;
}
.infos {
    margin-left: 20px;
    color: white;
}
.mb-5 {
    font-size: 24px;
}
.noExtension {
    color: #777777;
    font-size: 18px;
}
.col-xs-17{
    margin-top: 20px;
}
.col-xs-15{
    margin-top: 20px;
}
#contact_email {
    background-color: transparent;
    font-size: 1.3rem;
    word-wrap: break-word;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
}
#contact_address {
    background-color: transparent;
    font-size: 1.3rem;
    word-wrap: break-word;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
}
.footer-link {
    margin: 0 20px;
    bottom: -20px;
}
.most-right-main {
    display: inline-block;
    border: 1px solid white;
    height: 500px;
    float: right;
    right: 30px;
}
.item-content {
    color: white;
    font-size: 10px;
    width: 200px;
    word-wrap: break-word;
}
.am_footer { 
    background: #222324;
    width: 100%;
    padding: 0;
}
.am_footer_con { 
    max-width: 1500px; 
    text-align: center; 
    margin: 0 auto; 
    overflow: hidden; 
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.am_footer_link { 
    display: initial;
    max-width: 1000px;
    overflow: hidden;   
    vertical-align: top; 
    margin-right: 80px;
}
.am_footer_link span , .am_footer_don span{ 
    margin-left: 45px;
    text-align:left;  
    font-size: 17px; 
    color: #d3d3d3; 
    padding-bottom: 10px; 
    display: block; 
}
.am_footer_con dd {
    position: relative;
    font-size: 12px;
    color: #787878;
    padding: 0;
    margin: 0;
    margin-left: 45px;
    margin-right: 45px;
    float: none;
    text-align: left;
}
.am_footer_don { 
    display: initial;
    max-width: 1000px; 
    vertical-align: top; 
}
.am_footer_don dd {
    position: relative;
    font-size: 12px;
    color: #787878;
    padding: 0;
    margin: 0;
    margin-left: 45px;
    margin-right: 45px;
    float: none;
    text-align: left;
}
.am_info_line { 
    background: #1f2022; 
    height: 45px; 
    line-height: 45px; 
    text-align: center; 
    font-size:12px ; 
    color: #797979;
}
.am_info_line span { 
    color: #ff5656;
}